* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  width: 480px;
  margin: 0 auto;
  background-color: antiquewhite;
}

.done {
  color: gray;
  text-decoration: line-through;
}